{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h2>Tracking</h2>
    </div>

    <section>
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="startDate">Startdatum</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="startTime">Uhrzeit</label>
                            <div class="col-md-10">
                                <input type="time" class="form-control" id="startTime" name="startTime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="endDate">Enddatum</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="endTime">Uhrzeit</label>
                            <div class="col-md-10">
                                <input type="time" class="form-control" id="endTime" name="endTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="form-group">
            <label for="tracking-list">Tracking:</label>
            <select multiple class="form-control" id="tracking-list" style="min-height: 150px;">
            </select>
        </div>
    </section>

    <section id="clicksViews">
        <div class="page-header">
            <h2>Clicks & Views (Variant #A vs. Variant #B)</h2>
        </div>

        <div class="alert alert-success" id="winner">
            <strong>???</strong>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-lg-12">
                <div class="line-container">
                    <canvas id="ctra" width="400" height="400"></canvas>
                </div>

                <p>
                    <strong>Click-Through-Rate:</strong> <span id="click-through-rate1">???</span>
                </p>

                <table class="table table-striped" id="table0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Startzeit</th>
                        <th>Endzeit</th>
                        <th>clicks</th>
                        <th>views</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-md-lg-12">
                <div class="line-container">
                    <canvas id="ctrb" width="400" height="400"></canvas>
                </div>

                <p>
                    <strong>Click-Through-Rate:</strong> <span id="click-through-rate2">???</span>
                </p>

                <table class="table table-striped" id="table1">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Startzeit</th>
                        <th>Endzeit</th>
                        <th>clicks</th>
                        <th>views</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/track.js') }}"></script>
{% endblock %}